<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recorriendo Firebase</title>
</head>
<body>
<div id="app">
    <form @submit.prevent="enviarMensaje">
        <textarea v-model="mensaje" cols="10" rows="1"></textarea>
        <textarea v-model="mensaje1" cols="10" rows="1"></textarea>
        <input v-model="fecha" id="fecha0" type="date" value="2018-05-22">
        <input  type="submit" value="2018-05-22">
    </form>
        
    <hr>
    <h1>Mensajes</h1>
    <ul>
        <li v-for="mensaje in mensajes">
            {{ mensaje.mensaje}}
            <small><i>{{ mensaje.username }}</i></small>
            <small><i>{{ mensaje.mensaje }}</i></small>
            <small><i>{{ mensaje.mensaje1 }}</i></small>
            <small><i>{{ mensaje.fecha }}</i></small>
        </li>
    </ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.1.5/firebase.js"></script>
<script>
    // Initialize Firebase
    const config = {
      apiKey: "AIzaSyAHp3vB8Mc8JzdSXptEh3KY9LBQ97PeNLg",
     authDomain: "basedatos2-ccc9b.firebaseapp.com",
     databaseURL: "https://basedatos2-ccc9b.firebaseio.com",
     projectId: "basedatos2-ccc9b",
     storageBucket: "basedatos2-ccc9b.appspot.com",
     messagingSenderId: "965566008304"
    };
    firebase.initializeApp(config);
    const db = firebase.database();
    // Vue stuff
    new Vue({
        el: '#app',
        created() {
            db.ref('/chats')
                .on('value', snapshot => this.cargarMensajes(snapshot.val()))
        },
        data: {
            mensaje: null,
            mensaje1: null,
            fecha: null,
            username: 'Emilio',
            mensajes: [],
        },
        methods: {
            cargarMensajes(mensajes) {
                this.mensajes = [];
                for (let key in mensajes) {
                    this.mensajes.push({
                        mensaje: mensajes[key].mensaje,
                        mensaje1: mensajes[key].mensaje1,
                        fecha: mensajes[key].fecha,
                        username: mensajes[key].username,
                    });
                }
                this.mensajes.reverse();
            },

            cargarMensajes1(mensajes) {
                this.mensajes = [];
                for (let key in mensajes) {
                    this.mensajes.push({
                        mensaje: mensajes[key].mensaje,
                        mensaje1: mensajes[key].mensaje1,
                        fecha: mensajes[key].fecha,
                        username: mensajes[key].username,
                    });
                }
                this.mensajes.reverse();
            },
            enviarMensaje() {
                db.ref('/chats')
                    .push({
                        mensaje: this.mensaje,
                        mensaje1: this.mensaje1,
                        fecha: this.fecha,
                        username: this.username,
                    })
                    .then((data) => {
                        this.mensaje = '';
                        console.log(data.key);
                    });
            },

            listarMensajes (){

            }
        }
    });
</script>
</body>
</html>